USE [Empresa3]
GO
/****** Object:  StoredProcedure [dbo].[sp_MarcarFacturaPagada]    Script Date: 11/13/2025 20:01:18 ******/
ALTER PROCEDURE dbo.sp_MarcarFacturaPagada
    @numeroFactura NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que exista
    IF NOT EXISTS (SELECT 1 FROM dbo.Factura WHERE numeroFactura = @numeroFactura)
        RETURN 50008;  -- Factura no existe

    -- Validar que no esté pagada
    IF EXISTS (SELECT 1 FROM dbo.Factura WHERE numeroFactura = @numeroFactura AND pagado = 1)
        RETURN 50009;  -- Ya estaba pagada

    -- Marcar como pagada
    UPDATE dbo.Factura
    SET pagado = 1
    WHERE numeroFactura = @numeroFactura;

    RETURN 0;
END;
GO

