USE Empresa3;
GO
ALTER PROCEDURE dbo.sp_ObtenerFacturasPorFinca
    @numeroFinca NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar finca
    IF NOT EXISTS (SELECT 1 FROM dbo.Propiedad WHERE numeroFinca = @numeroFinca)
        RETURN 50008;

    -- Validar si tiene facturas
    IF NOT EXISTS (SELECT 1 FROM dbo.Factura WHERE numeroFinca = @numeroFinca)
        RETURN 50009;

    SELECT 
        numeroFactura,
        fechaFactura,
        consumoM3,
        monto,
        fechaVencimiento,
        pagado
    FROM dbo.Factura
    WHERE numeroFinca = @numeroFinca
    ORDER BY fechaFactura DESC;

    RETURN 0;
END;
GO

