USE [Empresa3]
GO
ALTER PROCEDURE dbo.sp_realizarPago
    @numeroFinca NVARCHAR(128),
    @tipoMedioPago INT,
    @numeroRef NVARCHAR(128),
    @fechaPago DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Propiedad WHERE numeroFinca = @numeroFinca)
        RETURN 50008;

    IF EXISTS (SELECT 1 FROM dbo.Pagos WHERE numeroRef = @numeroRef)
        RETURN 50008;

    INSERT INTO dbo.Pagos (numeroFinca, tipoMedioPago, numeroRef, fechaPago)
    VALUES (@numeroFinca, @tipoMedioPago, @numeroRef, @fechaPago);

    RETURN 0;
END;
GO

