USE [Empresa3]
GO
ALTER PROCEDURE dbo.sp_RegistrarPropiedadPersona
    @valorDocId NVARCHAR(20),
    @numeroFinca NVARCHAR(128),
    @tipoAsoId INT,
    @fechaRegistro DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Persona WHERE valorDocId = @valorDocId)
        RETURN 50008;

    IF NOT EXISTS (SELECT 1 FROM dbo.Propiedad WHERE numeroFinca = @numeroFinca)
        RETURN 50008;

    IF EXISTS (
        SELECT 1 
        FROM dbo.PropiedadPersona
        WHERE valorDocId = @valorDocId AND numeroFinca = @numeroFinca
    )
        RETURN 50008;

    INSERT INTO dbo.PropiedadPersona (valorDocId, numeroFinca, tipoAsoId, fechaRegistro)
    VALUES (@valorDocId, @numeroFinca, @tipoAsoId, @fechaRegistro);

    RETURN 0;
END;
GO
