USE [Empresa3]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerLecturasPorMedidor]    Script Date: 11/13/2025 20:01:41 ******/
ALTER PROCEDURE dbo.sp_ObtenerLecturasPorMedidor
    @numeroMedidor NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el medidor exista
    IF NOT EXISTS (SELECT 1 FROM dbo.Propiedad WHERE numeroMedidor = @numeroMedidor)
        RETURN 50008;

    -- Verificar si existen lecturas
    IF NOT EXISTS (SELECT 1 FROM dbo.LecturaMedidor WHERE numeroMedidor = @numeroMedidor)
        RETURN 50009;

    -- Mostrar lecturas
    SELECT 
        numeroMedidor, 
        tipoMov, 
        valor, 
        fechaLectura
    FROM dbo.LecturaMedidor
    WHERE numeroMedidor = @numeroMedidor
    ORDER BY fechaLectura DESC;

    RETURN 0;
END;
GO

