USE [Empresa3]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ProcesoMasivo_Facturacion]
    @FechaOperacion DATE
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        DECLARE @DiaVenc INT;
        DECLARE @DiasGracia INT;

        
        SELECT TOP 1
            @DiaVenc = DiaVencimientoFactura,
            @DiasGracia = DiasGraciasCorta 
        FROM dbo.Parametros;

        
        DECLARE @Props TABLE (
            numeroFinca NVARCHAR(128) PRIMARY KEY,
            consumo DECIMAL(18, 4),
            valorFiscal MONEY
        );

        INSERT INTO @Props (numeroFinca, consumo, valorFiscal)
        SELECT
            p.numeroFinca,
            ISNULL(p.saldoM3, 0) - ISNULL(p.saldoM3ultimaFactura, 0),
            p.valorFiscal
        FROM dbo.Propiedad p
        WHERE
            ISNULL(p.saldoM3, 0) - ISNULL(p.saldoM3ultimaFactura, 0) > 0;

        -- Si no hay propiedades con consumo, no hay nada que hacer.
        IF NOT EXISTS (SELECT 1 FROM @Props)
        BEGIN
            COMMIT;
            RETURN 0; -- Salida exitosa, no había nada que facturar.
        END

        -- Tabla para capturar los IDs y datos de las facturas recién creadas
        DECLARE @InsertedFacturas TABLE (
            idFactura INT,
            numeroFinca NVARCHAR(128),
            consumo DECIMAL(18, 4),
            fechaFactura DATE,
            fechaVencimiento DATE,
            totalInicial MONEY
        );

       
        INSERT INTO dbo.Factura (
            numeroFactura,
            numeroFinca,
            fechaFactura,
            fechaVencimiento,
            consumoM3,
            monto,          -- Se inserta 0, se actualizará después
            totalFinal,     -- Se inserta 0, se actualizará después
            pagado
        )
        OUTPUT
            inserted.idFactura,
            inserted.numeroFinca,
            inserted.consumoM3,
            inserted.fechaFactura,
            inserted.fechaVencimiento,
            inserted.monto
        INTO @InsertedFacturas
        SELECT
            -- Generación del número de factura
            CONCAT('FAC-', YEAR(@FechaOperacion), '-', RIGHT('0000' + CAST(ROW_NUMBER() OVER (ORDER BY p.numeroFinca) AS NVARCHAR(10)), 4)),
            p.numeroFinca,
            @FechaOperacion,
            DATEADD(DAY, ISNULL(@DiaVenc, 30), @FechaOperacion),
            prop.consumo,
            0, -- Monto inicial se establece en 0
            0, -- Total final se establece en 0
            0  -- Pagado se establece en 0
        FROM @Props prop
        JOIN dbo.Propiedad p ON p.numeroFinca = prop.numeroFinca;


       
        INSERT INTO dbo.DetalleFactura (idFactura, idCC, descripcion, monto)
        SELECT
            f.idFactura,
            cc.id,
            cc.nombre,
         
            CASE
                -- TIPO 1: Monto Fijo (ej. Cuota de mantenimiento)
                WHEN cc.tipoMonto = 1 THEN
                    ISNULL(cc.valorFijo, 0) / ISNULL(pm.cantidadMeses, 1)
                -- TIPO 2: Monto por Consumo (ej. Agua)
                WHEN cc.tipoMonto = 2 THEN
                    CASE
                        WHEN prop.consumo > ISNULL(cc.valorMinM3, 0) THEN prop.consumo * ISNULL(cc.valorFijoM3Adicional, 0)
                        ELSE ISNULL(cc.valorMin, 0)
                    END
                -- TIPO 3: Monto por Porcentaje (ej. Impuesto sobre valor fiscal)
                WHEN cc.tipoMonto = 3 THEN
                    (ISNULL(cc.valorPorcentual, 0) * ISNULL(prop.valorFiscal, 0)) / ISNULL(NULLIF(pm.cantidadMeses, 0), 1)
                ELSE 0
            END AS MontoCalculado
        FROM @InsertedFacturas f
        JOIN @Props prop ON prop.numeroFinca = f.numeroFinca -- Unir con los datos de consumo y valor fiscal
        JOIN dbo.CCPropiedad ccp ON ccp.numeroFinca = f.numeroFinca -- Qué conceptos de cobro aplican a la finca
        JOIN dbo.CCs cc ON cc.id = ccp.idCC -- Detalles del concepto de cobro
        LEFT JOIN dbo.PeriodoMontoCC pm ON pm.idPeriodoMonto = cc.periodoMonto; -- Periodo para prorratear (si aplica)
      
        UPDATE F
        SET
            F.totalFinal = DF.sumDetalle,
            F.monto = DF.sumDetalle -- Actualizamos también el campo 'monto' si es necesario
        FROM dbo.Factura F
        JOIN (
            SELECT
                idFactura,
                SUM(ISNULL(monto, 0)) AS sumDetalle
            FROM dbo.DetalleFactura
            WHERE idFactura IN (SELECT idFactura FROM @InsertedFacturas)
            GROUP BY idFactura
        ) DF ON DF.idFactura = F.idFactura;

        UPDATE p
        SET p.saldoM3ultimaFactura = p.saldoM3
        FROM dbo.Propiedad p
        WHERE p.numeroFinca IN (SELECT numeroFinca FROM @InsertedFacturas);

        COMMIT;
        RETURN 0; -- Éxito

    END TRY
    BEGIN CATCH
        -- Si algo falla, se revierte toda la transacción
        IF XACT_STATE() <> 0
            ROLLBACK;

        -- SELECT ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE()

        RETURN ERROR_NUMBER(); -- Fracaso
    END CATCH
END