USE Empresa3;
GO
ALTER PROCEDURE dbo.sp_CalcularFacturaMensual
    @numeroFinca NVARCHAR(128),
    @fechaFactura DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @diaVenc INT = 0;
    DECLARE @fechaVencimiento DATE;
    DECLARE @consumoDelta DECIMAL(10,2);

    BEGIN TRY
        -- Validar propiedad
        IF NOT EXISTS (SELECT 1 FROM dbo.Propiedad WHERE numeroDeFinca = @numeroFinca)
        BEGIN
            RETURN 50008; -- Propiedad no existe
        END;

        -- Obtener parámetros de la propiedad
        DECLARE @saldoM3 DECIMAL(10,2), @saldoM3Ultima DECIMAL(10,2), @areaM2 INT, @valorFiscal MONEY;
        SELECT @saldoM3 = ISNULL(saldoM3,0), @saldoM3Ultima = ISNULL(saldoM3ultimaFactura,0), 
               @areaM2 = ISNULL(areaM2,0), @valorFiscal = ISNULL(valorFiscal,0)
        FROM dbo.Propiedad WHERE numeroDeFinca = @numeroFinca;

        SET @consumoDelta = CASE WHEN @saldoM3 - @saldoM3Ultima < 0 THEN 0 ELSE @saldoM3 - @saldoM3Ultima END;

        -- Días para vencimiento
        SELECT TOP 1 @diaVenc = DiaVencimientoFactura FROM dbo.Parametros WHERE idParametro = 1;
        SET @fechaVencimiento = DATEADD(DAY, ISNULL(@diaVenc, 30), @fechaFactura);

        -- Calcular montos por CC (set-based)
        ;WITH CCsProp AS (
            SELECT 
                c.id AS idCC,
                c.nombre,
                c.tipoMonto,
                c.periodoMonto,
                c.valorMin,
                c.valorMinM3,
                c.valorFijoM3Adicional,
                c.valorPorcentual,
                c.valorFijo,
                pm.cantidadMeses
            FROM dbo.CCPropiedad cp
            JOIN dbo.CCs c ON c.id = cp.idCC
            LEFT JOIN dbo.PeriodoMontoCC pm ON pm.idPeriodoMonto = c.periodoMonto
            WHERE cp.numeroFinca = @numeroFinca
        ),
        CCsCalc AS (
            SELECT
                idCC,
                nombre,
                tipoMonto,
                cantidadMeses,
                CASE 
                    WHEN tipoMonto = 1 THEN -- fijo: dividir el valor fijo por la cantidad de meses del periodo
                        ISNULL(valorFijo,0) * 1.0 / NULLIF(ISNULL(cantidadMeses,1),1)
                    WHEN tipoMonto = 2 THEN -- variable (agua)
                        CASE 
                            WHEN @consumoDelta <= ISNULL(valorMinM3,0)
                                THEN ISNULL(valorMin,0)
                            ELSE ISNULL(valorMin,0) + ((@consumoDelta - ISNULL(valorMinM3,0)) * ISNULL(valorFijoM3Adicional,0))
                        END
                    WHEN tipoMonto = 3 THEN -- porcentaje (ej: impuesto)
                        (ISNULL(valorPorcentual,0) * ISNULL(@valorFiscal,0)) / NULLIF(ISNULL(cantidadMeses,12),12)
                    ELSE 0
                END AS MontoCC
            FROM CCsProp
        )
        SELECT 
            @consumoDelta AS ConsumoCalculado,
            SUM(MontoCC) AS MontoTotal
        INTO #tmpFacturaCalc
        FROM CCsCalc;

        DECLARE @montoTotal MONEY = 0;
        SELECT @montoTotal = ISNULL(MontoTotal,0) FROM #tmpFacturaCalc;

        IF @montoTotal = 0
        BEGIN
            -- No hay CCs asociados o monto 0: devolver código (puedes ajustar)
            DROP TABLE #tmpFacturaCalc;
            RETURN 50010; -- No hay conceptos para facturar
        END

        -- Generar numeroFactura
        DECLARE @numeroFactura NVARCHAR(128);
        SET @numeroFactura = CONCAT('FAC-', YEAR(@fechaFactura), '-', RIGHT('0000' + CAST(
            (SELECT COUNT(*) + 1 FROM dbo.Factura WHERE YEAR(fechaFactura) = YEAR(@fechaFactura)) AS NVARCHAR(10)), 4));

        -- Insertar factura
        INSERT INTO dbo.Factura (numeroFactura, numeroFinca, fechaFactura, fechaVencimiento, consumoM3, monto, totalFinal, pagado)
        VALUES (@numeroFactura, @numeroFinca, @fechaFactura, @fechaVencimiento, @consumoDelta, @montoTotal, @montoTotal, 0);

        DECLARE @idFactura INT = SCOPE_IDENTITY();

        -- Actualizar saldoM3ultimaFactura (no reiniciamos saldoM3)
        UPDATE dbo.Propiedad
        SET saldoM3ultimaFactura = saldoM3
        WHERE numeroDeFinca = @numeroFinca;

        DROP TABLE #tmpFacturaCalc;

        -- Devolver info
        SELECT @idFactura AS idFactura, @numeroFactura AS numeroFactura, @numeroFinca AS numeroFinca, @consumoDelta AS consumoM3, @montoTotal AS monto, @fechaVencimiento AS fechaVencimiento;

        RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN ERROR_NUMBER();
    END CATCH;
END;
GO

