USE [Empresa3]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPropiedad]    Script Date: 11/13/2025 20:00:20 ******/
ALTER PROCEDURE dbo.sp_RegistrarPropiedad
    @numeroFinca NVARCHAR(128),
    @numeroMedidor NVARCHAR(128),
    @areaM2 INT,
    @tipoUso INT,
    @tipoZona INT,
    @valorFiscal MONEY,
    @fechaRegistro DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Validaciones
    IF EXISTS (SELECT 1 FROM dbo.Propiedad WHERE numeroFinca = @numeroFinca)
        RETURN 50008;

    IF NOT EXISTS (SELECT 1 FROM dbo.TipoUsoPropiedad WHERE idTipoUso = @tipoUso)
        RETURN 50008;

    IF NOT EXISTS (SELECT 1 FROM dbo.TipoZonaPropiedad WHERE idTipoZona = @tipoZona)
        RETURN 50008;

    -- Insertar propiedad
    INSERT INTO dbo.Propiedad (
        numeroFinca, numeroMedidor, areaM2, tipoUso, tipoZona, valorFiscal, FechaRegistro
    )
    VALUES (
        @numeroFinca, @numeroMedidor, @areaM2, @tipoUso, @tipoZona, @valorFiscal, @fechaRegistro
    );

    RETURN 0;
END;
GO
