USE [Empresa3]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPersona]    Script Date: 11/13/2025 19:59:55 ******/
ALTER PROCEDURE dbo.sp_RegistrarPersona
    @valorDocId NVARCHAR(20),
    @Nombre NVARCHAR(128),
    @email NVARCHAR(128),
    @telefono VARCHAR(128),
    @fechaRegistro DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Persona WHERE valorDocId = @valorDocId)
        RETURN 50008; -- Persona ya existe

    INSERT INTO dbo.Persona (valorDocId, Nombre, email, telefono, fechaRegistro)
    VALUES (@valorDocId, @Nombre, @email, @telefono, @fechaRegistro);

    RETURN 0;
END;
GO

