USE [Empresa3]
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcesarPago]    Script Date: 11/14/2025 0:26:43 ******/
CREATE OR ALTER PROCEDURE [dbo].[sp_ProcesarPago]
    @numeroFinca NVARCHAR(128),
    @tipoMedioPago INT,
    @numeroRef NVARCHAR(128),
    @fechaPago DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @idFactura INT;

    -- Buscar la factura más vieja pendiente para esta finca
    SELECT TOP 1 @idFactura = idFactura
    FROM dbo.Factura
    WHERE numeroFinca = @numeroFinca 
    AND pagado = 0
    ORDER BY fechaFactura ASC, idFactura ASC;

    -- Si no hay facturas pendientes, retornar error
    IF @idFactura IS NULL
        RETURN 50002; -- No hay facturas pendientes

    -- Llamar al SP de pagar factura
    DECLARE @Resultado INT;
    EXEC @Resultado = dbo.sp_PagarFactura @idFactura, @tipoMedioPago, @numeroRef, @fechaPago;

    RETURN @Resultado;
END;