USE Empresa3;
GO
ALTER PROCEDURE dbo.sp_RegistrarLectura
    @numeroMedidor NVARCHAR(128),
    @tipoMov INT,
    @valor DECIMAL(10,2),
    @fechaLectura DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ultimaLectura DECIMAL(10,2),
            @consumo DECIMAL(10,2);

    BEGIN TRY
        -- Validar existencia del medidor
        IF NOT EXISTS (SELECT 1 FROM dbo.Propiedad WHERE numeroMedidor = @numeroMedidor)
        BEGIN
            RETURN 50008; -- No existe el medidor indicado
        END;

        -- Obtener la última lectura registrada desde la propiedad (saldoM3ultimaFactura)
        SELECT @ultimaLectura = ISNULL(saldoM3ultimaFactura, 0)
        FROM dbo.Propiedad 
        WHERE numeroMedidor = @numeroMedidor;

        -- Calcular consumo según tipoMov
        IF @tipoMov = 1  -- Lectura normal (débito por lectura)
            SET @consumo = CASE WHEN @valor - @ultimaLectura < 0 THEN 0 ELSE @valor - @ultimaLectura END;
        ELSE IF @tipoMov = 2  -- Ajuste crédito (se resta del saldo)
            SET @consumo = -ABS(@valor);
        ELSE IF @tipoMov = 3  -- Ajuste débito (se suma al saldo)
            SET @consumo = ABS(@valor);
        ELSE
            SET @consumo = 0;

        -- Insertar nueva lectura
        INSERT INTO dbo.LecturaMedidor (numeroMedidor, tipoMov, valor, fechaLectura)
        VALUES (@numeroMedidor, @tipoMov, @valor, @fechaLectura);

        -- Actualizar saldoM3 y saldoM3ultimaFactura en Propiedad
        UPDATE dbo.Propiedad
        SET saldoM3 = CASE 
                         WHEN ISNULL(saldoM3,0) + @consumo < 0 THEN 0 
                         ELSE ISNULL(saldoM3,0) + @consumo 
                      END,
            saldoM3ultimaFactura = @valor
        WHERE numeroMedidor = @numeroMedidor;

        RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN ERROR_NUMBER();
    END CATCH;
END;
GO
